torch==2.8.0
torchvision==0.23.0
boto3==1.20.39
omegaconf==2.1.1
transformers==5.0.0rc0
accelerate==1.12.0
peft==0.18.0
deepspeed==0.18.2
pandas
numpy==1.26.4
tqdm
loguru
click
tensorboard
bitsandbytes
sentencepiece
evaluate
scikit-learn
nltk
dacite
torchmetrics
intervaltree
python-dotenv
clearml
